/target
examples/*
!examples/plain-starter/README.naechste.md
.vscode

# NPM
node_modules/
.npmrc
*.tgz

# Binary output
bin/naechste
bin/naechste.exe

# Playwright test results and screenshots
.playwright*